/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #71361c !important;
  --toolbarbutton-icon-fill: #ffb598 !important;
  --toolbar-field-color: #f1dfd9 !important;
  --tab-selected-textcolor: #ffb598 !important;
  --toolbar-color: #f1dfd9 !important;
  --arrowpanel-color: #f1dfd9 !important;
  --arrowpanel-background: #271e1a !important;
  --sidebar-text-color: #f1dfd9 !important;
/*  --zen-main-browser-background: #1a110e !important; */
}

.sidebar-placesTree {
  background-color: #271e1a !important;
}

#zen-workspaces-button {
  background-color: #271e1a !important;
}

#TabsToolbar {
  background-color: #1a110e !important;
}

.urlbar-background {
  background-color: #271e1a !important;
}

.urlbar-input::selection {
  color: #552007 !important;
  background-color: #ffb598 !important;
}

.urlbarView-url {
  color: #d8c2ba !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb598
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc2a3 !important;
  --identity-icon-color: #ffc2a3 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb598 !important;
  --identity-icon-color: #ffb598 !important;
}

.identity-color-green {
  --identity-tab-color: #abe086 !important;
  --identity-icon-color: #abe086 !important;
}

.identity-color-yellow {
  --identity-tab-color: #e8c097 !important;
  --identity-icon-color: #e8c097 !important;
}

.identity-color-orange {
  --identity-tab-color: #dbab7b !important;
  --identity-icon-color: #dbab7b !important;
}

.identity-color-red {
  --identity-tab-color: #e05f92 !important;
  --identity-icon-color: #e05f92 !important;
}

.identity-color-pink {
  --identity-tab-color: #b76055 !important;
  --identity-icon-color: #b76055 !important;
}

.identity-color-purple {
  --identity-tab-color: #bf9281 !important;
  --identity-icon-color: #bf9281 !important;
}

#zen-appcontent-navbar-container {
  background-color: #1a110e !important;
}
